body{
    background-color: antiquewhite;
    max-width: 900px;
    margin: 40px auto;
}

table {
    width: 90%;
    margin: 0 5%;
    text-align: left;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    table-layout: fixed; 
}

tbody tr:hover {
    background-color: #e0e0e0; 
}

th, td {
    padding: 0.5em;
}

th {
    border: 1px solid black;
    background-color: #f4a460; 
    color: #ffffff; 
    font-weight: bold;
    text-align: left;
}

td {
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.2s linear;
    opacity: 0.6;
}

tbody tr:nth-child(3n) {
    background-color: #f2f2f2; 
}

tbody tr:nth-child(3n+1) {
    background-color: #ffffff; 
}

tbody tr:nth-child(3n+2) {
    background-color: #e0e0e0;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

label {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 8px;
}

input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners */
    width: 50%; /* Full width */
    box-sizing: border-box; /* Include padding and border in width */
}

button {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #f4a460;
    border-radius: 4px;
    background-color: #f4a460; /* Blue background */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #bd8825; /* Darker blue on hover */
    border-color: #bd8825; /* Darker border on hover */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: green; 
    border-color: green;    
}

input[type="checkbox"]:checked::after {
    content: '\2713'; /* Unicode checkmark */
    font-size: 18px;
    color: white; /* White checkmark for contrast */
    position: absolute;
    left: 4px;
    top: 0px;
}